{% extends "layout.html" %}
{% set active_page = "Oculus Quest" %}
{% block content %}
{% for article_name, regular_price, sale_price, img_url in articles %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
        <img src="{{ img_url }}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ article_name }}</h5>
        <p class="card-text">{{ sale_price }} <strike>{{ regular_price }}</strike> {{ ((sale_price-regular_price)/regular_price*100)|round|int }}%</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}