<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

  <title>VR Schnäppchen!</title>
</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item {{ 'active' if active_page == 'home' else '' }}">
        <a class="nav-link" href="home">Home</a>
      </li>
      <div class="dropdown-divider"></div>
      <li class="nav-item dropdown {{ 'active' if active_page == 'Oculus Quest' or active_page == 'Oculus Rift' or active_page == 'Oculus Go' else '' }}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Games
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {{ 'active' if active_page == 'Oculus Quest' else '' }}" href="oculus">Oculus</a>
          <a class="dropdown-item {{ 'active' if active_page == 'Steam' else '' }}" href="#">Steam</a>
          <a class="dropdown-item {{ 'active' if active_page == 'Humble Bundle' else '' }}" href="#">Humble Bundle</a>
        </div>
      </li>
      <div class="dropdown-divider"></div>
      <li class="nav-item {{ 'active' if active_page == 'Steam' else '' }}">
        <a class="nav-link" href="#">Headsets</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto my-2 order-0 order-md-1 position-relative">
    <a class="mx-auto" href="#">
      <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <img src="{{ url_for('static', filename='images/smiley.png') }}" class="rounded-circle" width="90" height="auto">
      </div>
    </a>
    <div class="row justify-content-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
    <ul class="navbar-nav mr-auto text-center">
      <div class="dropdown-divider"></div>
      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'HTC' else '' }}" href="#">Accessories</a>
      </li>
      <div class="dropdown-divider"></div>
      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'WMR' else '' }}" href="#">Hardware</a>
      </li>
      <div class="dropdown-divider"></div>
      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'PSVR' else '' }}" href="#">Statistics</a>
      </li>
    </ul>
  </div>
</nav>


<!-- Normal Content Zone -->
<div class="container">
  {% block content %}{% endblock %}
</div>

</body>
</html>
